<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prj.chameleon.gionee">

    <!-- 开始添加Amigo Play SDK 需要的权限,开发者重点关注 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 结束Amigo Play SDK 添加权限 -->

    <application>
        <!-- Amigo Play SDK 组件声明开始 -->
        <service android:name="com.gionee.gsp.floatingwindow.FloatingWindowService" >
            <intent-filter>
                <action android:name="com.gionee.pay.ic.FloatingWindowService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.gionee.gsp.service.activity.AssistActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Amigo Play SDK 组件声明结束 -->
    </application>
</manifest>
