<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:chameleon="http://schemas.ucloud.cn/chameleon"
    package="prj.chameleon.lenovo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <!-- 登录配置开始 -->
        <meta-data
            android:name="lenovo.open.appid"
            android:value="1406040827749.app.ln"  chameleon:replace="android:value=%appId%"  />

        <meta-data
            android:name="lenovo.gamesdk.new"
            android:value="2.3.2" />

        <!-- 闪屏界面，默认横屏，通过screenOrientation可以进行修改-->
        <activity
            android:name="com.lenovo.lsf.gamesdk.ui.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 闪屏界面结束 -->

        <!-- 登录成功欢迎条界面，默认横屏，通过screenOrientation可以进行修改 -->
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.KeyLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- 登录成功欢迎条界面结束 -->

        <!-- 登录过程界面，默认横屏，通过screenOrientation可以进行修改 -->
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PsLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:label="@string/com_lenovo_lsf_ui_name"
            android:launchMode="singleTask"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PsLoginCommonActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.USERSETTING" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.StartLoginingGameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.StartGameErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneConfirmActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordConfirmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label=""
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_ui" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FlexibleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>

        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.QuitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <!-- 登录过程界面结束 -->

        <!-- 支付配置开始 -->

        <!-- 收银台界面，默认横屏，通过screenOrientation可以进行修改-->
        <activity
            android:name="com.lenovo.mpay.ifmgr.PayManagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- 收银台界面结束-->

        <!-- 易联 -->
        <activity
            android:name="com.payeco.android.plugin.PayecoPluginLoadingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.payeco.android.plugin.PayecoCamaraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.payeco.android.plugin.PayecoVedioActivity"
            android:screenOrientation="landscape"
            android:process="com.payeco.android.plugin.vedio"
            />

        <!--百度插件部分  -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DhNxS47YIr3CNdocGoAcy1ts" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- 支付配置结束 -->

        <service
            android:name="com.lenovo.lsf.lenovoid.toolbar.AppCheckService" >
        </service>

        <receiver android:name="com.lenovo.lsf.gamesdk.receiver.GameSdkReceiver" android:permission="com.lenovo.lsf.device.permission.MESSAGE">
            <intent-filter>
                <action android:name="com.lenovo.lsf.gamesdk.receiver.GameSdkReceiver"></action>
                <action android:name="1406040827749.app.ln"
                    chameleon:replace="android:name=%appId%"></action>  <!--TODO 在此处填入申请的lenovo open AppID-->
                <category android:name="com.xianyugame.sanguofire.lenovo"
                    chameleon:replace="android:name=%packageName%"/> <!--TODO 在此处填入Package Name-->
            </intent-filter>
        </receiver>

        <receiver android:name="com.lenovo.lsf.gamesdk.receiver.GameSdkAndroidLReceiver">
            <intent-filter>
                <action android:name="com.lenovo.lsf.device.ANDROID_L_MSG"></action>
                <category android:name="com.xianyugame.sanguofire.lenovo"
                    chameleon:replace="android:name=%packageName%"/><!--TODO 在此处填入Package Name-->
            </intent-filter>
        </receiver>

        <receiver android:name="com.lenovo.lsf.push.receiver.PushReceiver" android:process=":PushService">
            <intent-filter >
                <action android:name="com.lenovo.lsf.intent.REGISTER" />
                <action android:name="com.lenovo.lsf.intent.UNREGISTER" />
                <action android:name="com.lenovo.lsf.intent.LOG_CONTROL" />
                <action android:name="com.lenovo.lsf.intent.PUSH_TYPE_CONTROL" />
                <action android:name="com.lenovo.lsf.intent.PUSH_TEST_MESSAGE" />
                <action android:name="com.lenovo.lsf.intent.SWITCH_ON_SERVICE" />
                <action android:name="com.lenovo.lsf.intent.SWITCH_OFF_SERVICE" />
            </intent-filter>
        </receiver>

        <service android:name="com.lenovo.lsf.push.service.PushService" android:process=":PushService"
            android:exported="true">
        </service>

        <activity android:name="com.lenovo.lsf.push.ui.DisplayActivity" android:process=":DisplayActivity"
            android:theme="@android:style/Theme.Translucent" android:screenOrientation="portrait">
        </activity>

        <service android:name="com.lenovo.lsf.push.ui.DisplayService" android:process=":PushService"
            android:exported="true">
        </service>
    </application>
</manifest>
