<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:chameleon="http://schemas.ucloud.cn/chameleon"
    package="prj.chameleon.wandoujia">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true">   <!-- 必须添加! 如果项目有application,这里可以替换成项目现存的application -->

        <!-- 豌豆荚Game SDK activity, service,receiver 声明 -->
        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.MarioAccountActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop" />

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.UserInfoSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.LeaderboardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            chameleon:replace="android:screenOrientation=%orientation%"/>

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.AchievementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            chameleon:replace="android:screenOrientation=%orientation%"/>

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.InviteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            chameleon:replace="android:screenOrientation=%orientation%"/>

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.MiniProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            chameleon:replace="android:screenOrientation=%orientation%"/>

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.activity.MarioActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"/>

        <activity
            android:name="com.wandoujia.mariosdk.plugin.apk.fantasy.activity.FFActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            chameleon:replace="android:screenOrientation=%orientation%"/>

        <receiver android:name="com.wandoujia.mariosdk.plugin.api.WandouPluginReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="pheonix.intent.action.LOGIN_SUCCESS" />
                <action android:name="pheonix.intent.action.REGISTER_SUCCESS" />
                <action android:name="pheonix.intent.action.LOGOUT_SUCCESS" />
            </intent-filter>
        </receiver>

        <service android:name="com.wandoujia.mariosdk.plugin.api.WandouPluginService" />


        <activity
            android:name="com.wandoujia.oakenshield.activity.OakenshieldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <intent-filter>
                <action android:name="com.wandoujia.oakenshield"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <!-- Make sure to replace XXX by your AppKeyid -->
                <data android:scheme="Wandoujia-PaySdk-100012000" chameleon:replace="android:scheme=Wandoujia-PaySdk-%appId%"/>
            </intent-filter>
        </activity>

        <!-- Alipay SDK begin -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniLaucherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="com.alipay.mobilepay.android" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.taobao.android.ski.NODERIVATION"
                android:value="true" />
        </activity>

        <!-- 极简收银台主界面 -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"

            android:launchMode="singleTop"
            android:process="com.alipay.sdk"
            android:screenOrientation="portrait"
            android:theme="@style/MspAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"
            chameleon:replace="android:screenOrientation=%orientation%"/>
        <!-- 极简收银台链接查看界面 -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:process="com.alipay.sdk"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 快捷支付服务 -->
        <service android:name="com.alipay.android.app.MspService"
            android:process="com.alipay.sdk"
            android:exported="false" >
            <intent-filter android:priority="800" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Alipay SDK end -->

        <!-- UnionPay start -->
        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.Run"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="uppay"/>
            </intent-filter>
        </activity>
        <service android:name="com.UCMobile.PayPlugin.PayPluginService">
            <intent-filter>
                <action android:name="android.webkit.PLUGIN"/>
            </intent-filter>
            <meta-data
                android:name="type"
                android:value="native"/>
        </service>s
        <activity android:name="com.unionpay.uppay.PayActivity">
        </activity>
        <!-- UnionPay end -->
        <activity
            android:name="com.shandianshua.nen.activity.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTask"/>

        <!-- 豌豆荚Game SDK activity, service,receiver 声明结束 -->

    </application>
</manifest>
