<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:chameleon="http://schemas.ucloud.cn/chameleon"
    package="prj.chameleon.vivo">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <!-- vivo activity begin -->
        <activity
            android:name="com.vivo.account.base.activity.LoginActivity"
            android:label="@string/vivo_app_name"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.account.base.activity.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.account.base.activity.VerifyPhoneNumActivity"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.account.base.activity.FindPasswordActivity"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.account.base.activity.SetPassWordActivity"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vivo.account.base.activity.RegisterProtocolActivity"
            chameleon:replace="android:screenOrientation=%orientation%"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <!-- vivo activity end -->
        <activity  android:name="com.bbkmobile.iqoo.payment.PaymentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbkmobile.iqoo.payment.CardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>
</manifest>
