<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prj.chameleon.dangle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- ali -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application>
        <activity
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:name="com.downjoy.activity.SdkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/dcn_Activity_Transparent" />
        <!--UPPay sdk begin -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--UPPay sdk end -->
        <!--alipay sdk begin -->

        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniPayActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/msp_app_name"
            android:launchMode="singleTop"
            android:process="com.alipay.sdk"
            android:screenOrientation="portrait"
            android:theme="@style/MspAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter android:priority="800" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:process="com.alipay.sdk"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.alipay.android.app.MspService"
            android:process="com.alipay.sdk"
            android:exported="false" >
            <intent-filter android:priority="800" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!--alipay sdk end -->
        <!-- Polling Service -->
        <service android:name="com.downjoy.service.PollingService">
            <intent-filter>
                <action android:name="action.downjoy.polling.service" />
            </intent-filter>
        </service>
    </application>
</manifest>
