/* app css stylesheet */

/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 'auto'; 
    height: 300px;
}


.pre-scrollable-channelinfo {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logdiv {
    width: 'auto';
    height: 400px;
    overflow: scroll;
}

.red {
  color: red;
}

.outdated_reconfig {
    color: white;
    background-color: red;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}



#cham_icon_parent {
    width: 720px;
    height: 210px;
    position: relative;
}

#cham_icon_medium {
    display: inline-block;
    position: static;
    width: 48px;
    height: 48px;
    left: 10px;
    top: 162px;
}

#cham_icon_high {
    display: inline-block;
    position: static;
    width: 72px;
    height: 72px;
    left: 68px;
    top: 138px;
}

#cham_icon_xhigh {
    display: inline-block;
    position: static;
    width: 96px;
    height: 96px;
    left: 150px;
    top: 104px;
}

#cham_icon_xxhigh {
    display: inline-block;
    position: static;
    width: 144px;
    height: 144px;
    left: 256px;
    top: 66px;
}

#cham_icon_xxxhigh {
    display: inline-block;
    position: static;
    width: 192px;
    height: 192px;
    left: 410px;
    top: 18px;
}


.viewarea {
    border: 1px solid #ccc;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 10px;
    padding: 30px 10px 10px 10px;
}
button.btn {
    margin-top: 10px;
}
ul.nav-tabs {
    display: none;
}
div.moredirective {
    position: fixed;
    right: 0;
    top: 0;
}
.dis-bottom-top {
    margin: 15px 0;
}
.pos-reload {
    position: relative;
    top: -40px;
    left: 15px;
}
.cancelSubmit {
    background: #bbbbbb;
    color: #ffffff;
}
.breadcrumb > li {
    font-size : 12px;
}
.gridOptionsWidth {
    width: 205px;
    overflow: hidden;
}
.changInput {
    border: 0;
    background: #ffffff;
}
.changInput-width {
    width: 250px;
}
.vhidden {
    visibility: hidden;
}
dl.dl-config {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
.vlist-warp {
    max-height: 300px;
    overflow: auto;
}