/* app css stylesheet */

/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    height: 600px;
}


.pre-scrollable-channelinfo {
  /*max-height: 450px;
  overflow-y: scroll;*/
  overflow-x: hidden;
}

.logdiv {
    width: auto;
    height: 400px;
    overflow: scroll;
}

.red {
  color: red;
}

.outdated_reconfig {
    color: white;
    background-color: red;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}



#cham_icon_parent {
    width: 720px;
    height: 210px;
    position: relative;
}

#cham_icon_medium {
    display: inline-block;
    position: static;
    width: 48px;
    height: 48px;
    left: 10px;
    top: 162px;
}

#cham_icon_high {
    display: inline-block;
    position: static;
    width: 72px;
    height: 72px;
    left: 68px;
    top: 138px;
}

#cham_icon_xhigh {
    display: inline-block;
    position: static;
    width: 96px;
    height: 96px;
    left: 150px;
    top: 104px;
}

#cham_icon_xxhigh {
    display: inline-block;
    position: static;
    width: 144px;
    height: 144px;
    left: 256px;
    top: 66px;
}

#cham_icon_xxxhigh {
    display: inline-block;
    position: static;
    width: 192px;
    height: 192px;
    left: 410px;
    top: 18px;
}


.viewarea {
    border: 1px solid #ccc;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 10px;
    padding: 30px 10px 10px 10px;
}

.modal { top:5%; bottom:5%; }
.modal-body { max-height:100%; height:85%; max-height: 800px;overflow: auto;}


button.btn {
    margin-top: -2px;
}
ul.nav-tabs {
    display: none;
}
div.moredirective {
    position: fixed;
    right: 0;
    top: 0;
}
.dis-bottom-top {
    margin: 15px 0;
}
.pos-reload {
    position: relative;
    top: -40px;
    left: 15px;
}
.cancelSubmit {
    background: #bbbbbb;
    color: #ffffff;
}
.breadcrumb > li {
    font-size : 12px;
}
.gridOptionsWidth {
    width: 205px;
    overflow: hidden;
}
.fn-left {
    float: left;
    display: inline-block;
}
.fn-right {
    float: right;
    display: inline-block;
}
.clear {
    clear: both;
}
.vm-list {
    width: 100%;
    min-height: 450px;
    border: 1px solid #ccc;
    text-indent: 10px;
}
.vm-list-head ,.vm-list-content {
    font: 14px/30px arial;
}
.vm-list-head {
    height: 30px;
    color: #666666;
    background: #eeeeee;
    border-bottom: 1px solid #cccccc;
}
.vm-list-content .active , .vm-list-content div:hover{
    color: #ffffff;
    background: #3276b1;
    cursor: pointer;
}
.vm-area {
    width: auto;
    padding: 5px;
    border: 1px solid #cccccc;
    min-height: 300px;
}
.vm-edite-header {
    width: 100%;
    height: 36px;
    border: 1px solid #ccc;
    text-indent: 10px;
    color: #666666;
    background: #eeeeee;
    font: 14px/36px arial;
    position: relative;
}
.vm-edite-text {
    width: 100%;
    padding: 5px;
    height: 162px;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666666;
    outline: none;
    resize: none;

}
.row .vm-area-r0 {
    padding-right: 0;
}
.row .vm-area-l0 {
    padding-left: 10px;
}
.vm-head-btn {
    position: absolute;
    right: 5px;
    top: -5px;
}
.vm-head-btn-file {
    display: block;
    width: 60px;
    overflow: hidden;
    opacity: 0;
    top: 2px;
    cursor: pointer;

}

.sliderbox {
    /** background: url(../images/index-bottom.jpg) no-repeat 0 -1px; */
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.arrow-btn {
    margin: 35px 0 0 0;
    display: inline;
    background: url(../images/arrow-btn.png) no-repeat;
    width: 26px;
    height: 124px;
    overflow: hidden;
    cursor: pointer;
}

#btn-left {
    float: left;
    margin-left: 12px;
    background-position: 0 0;
}

#btn-left.dasabled {
    background-position: 0 -124px;
}

#btn-right {
    float: right;
    margin-right: 6px;
    cursor: pointer;
    background-position: -26px 0;
}

#btn-right.dasabled {
    background-position: -26px -124px;
}

.slider {
    width: 580px;
    overflow: hidden;
    position: relative;
    height: 166px;
    float: left;
}

.slider ul {
    position: absolute;
    left: 0px;
    top: 32px;
    width: 1800px;
    height: 105px;
    list-style: none;
    padding: 10px;
}

.slider li {
    float: left;
    width: 140px;
    height: 105px;
    margin-right: 10px;
}

.slider img {
    width: 140px;
    height: 105px;
    display: inline-block !important;
}
.changInput {
    border: 0;
    background: #ffffff;
}
.changInput-width {
    width: 250px;
}
.vhidden {
    visibility: hidden;
}
dl.dl-config {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
.vlist-warp {
    max-height: 300px;
    overflow: auto;
}

.row-plus {
    margin: 5px;
}

/** hack **/
.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: '选择文件';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active {
    outline: 0;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.shortText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}
