<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prj.chameleon.ewan">
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application>
        <!-- 需要添加的Activity -->

        <!-- 复制以下部分 -->
        <activity
            android:name="com.cw.platform.activity.LoginAndRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.cw.platform.activity.PlatformActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.cw.platform.activity.RecommendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.PlLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name="com.cw.platform.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" >
        </activity>


        <activity
            android:name="com.cw.platform.activity.AccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name="com.cw.platform.activity.PlRegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.PlForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.PlResetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.AccountSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.DownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.ChangePwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />


        <activity
            android:name="com.cwmob.sdk.activity.PopupActivity"
            android:configChanges="keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.cwmob.sdk.activity.DetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service android:name="com.cwmob.sdk.ad_push.PushService"
            android:process=":cwmob_service"/>


        <activity
            android:name="com.cw.platform.activity.BindPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.PacketCopyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/cw_Dialog"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.cw.platform.activity.FindPwdOtherMethodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.IAroundActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.cw.platform.activity.QQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.cw.platform.activity.WeiboActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.SwitchAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.cw.platform.activity.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.ResetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.cw.platform.activity.PlPacketActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlPacketDefaultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name="com.cw.platform.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.ChannelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.PayCenterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.PayRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cw.platform.activity.AliPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.Mo9PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.TenpayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.RetrieveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.RetrieveMethodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.ForgetPwdMailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.RetrieveAccountMethodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.ForgetAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.ForgetAccountMailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.RegisterMethodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PhoneRegisterActivity"
            android:theme="@style/cw_Dialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.QuickRegisterActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.AccountManagementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.AccountSecurityActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.BindMailActivity"
            android:theme="@style/cw_Dialog"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlBindPhoneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.UnBindPhoneActivity"
            android:theme="@style/cw_Dialog"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.UnBindMailActivity"
            android:theme="@style/cw_Dialog"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name="com.cw.platform.activity.ShareActivity"
            android:theme="@style/cw_Dialog"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name="com.cw.platform.activity.ShareEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.wxapi.WXEntryActivity"
            android:configChanges="mcc|keyboardHidden|screenSize|locale|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <activity
            android:name="com.cw.platform.activity.QqReAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity android:name="com.cw.platform.activity.QqAuthorizeActivity" >
        </activity>

        <activity
            android:name="com.cw.platform.activity.WeixinShareEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name="com.cw.platform.activity.ForumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlShareActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.MailResetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlAccountManagementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlAccountSecurityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />


        <activity
            android:name="com.cw.platform.activity.UpdateActivity"
            android:theme="@style/cw_Dialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlForumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PlHelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PayMyCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PayMyCardPartnerListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.cw.platform.activity.PayCenterWithNoSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />

        <!--银联支付-->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize"/>


        <!--分享模块start-->

        <activity
            android:name="com.example.ewansocialsdk.activity.ShareBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyTransparent"/>

        <activity
            android:name="com.example.ewansocialsdk.activity.ShareEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.example.ewansocialsdk.activity.ShareShowPicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyTransparent"/>

        <!-- SinaWeibo 配置文件 start-->
        <activity
            android:name="com.example.ewansocialsdk.sinaweibo.AuthActivity"
            android:screenOrientation="landscape"
            android:theme="@style/EwanTransparentTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name="com.example.ewansocialsdk.sinaweibo.ShowLoadingActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/EwanTransparentTheme"/>

        <activity
            android:name="com.example.ewansocialsdk.sinaweibo.ActionActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- SinaWeibo 配置文件 end-->

        <!-- 微信 配置文件  start-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"/>


        <activity
            android:name="com.example.ewansocialsdk.weixin.WXCallbackActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <!-- 微信 配置文件  end-->

        <!-- TXWeibo 配置文件  start-->
        <activity
            android:name="com.example.ewansocialsdk.txweibo.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>

        <activity
            android:name="com.example.ewansocialsdk.txweibo.Authorize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <activity
            android:name="com.example.ewansocialsdk.txweibo.ShowLoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent"/>

        <!-- TXWeibo 配置文件  end-->


        <!-- QQ 配置文件 -->
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101094272" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:name="com.example.ewansocialsdk.qq.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:name="com.example.ewansocialsdk.qq.ActionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity android:name="com.tencent.plus.ImageActivity" />
        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <!--分享模块 end-->
    </application>
</manifest>
