<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prj.chameleon.chinamob">
    <!-- CHAMELEON OVERWRITE -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- CHAMELEON OVERWRITE -->

    <application>


    </application>


</manifest>
