<div class="row-fluid">
    <h4>{{selectedsdk.name}}</h4>
</div>
<div class="row-fluid">
    <form name="channelCfgForm" class="form-horizontal" ng-submit="updateCurrentCfg()">
        <div class="control-group">
            <label class="control-label" for="appid">APP ID</label>
            <div class="controls">
                <input id="appid" type="text" style="width:60%" ng-model="selectedsdk.cfg.appKey"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="appsecret">APP SECRET</label>
            <div class="controls">
                <input id="appsecret" type="text" style="width:60%" ng-model="selectedsdk.cfg.appSecret"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">保存</button>
            </div>
        </div>
    </form>
</div>
