<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:chameleon="http://schemas.ucloud.cn/chameleon"
    package="prj.chameleon.nd91">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application>
        <meta-data android:name="DUOKUSDK_CHANNEL"
            android:value="700" />

        <meta-data android:name="plugin_activityname"
            android:value="com.unionpay.uppay.PayActivity" />

        <activity
            android:name="com.duoku.platform.ui.DKContainerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/StyledIndicators"
            chameleon:replace="android:screenOrientation=%orientation%">
        </activity>

        <activity
            android:name="com.duoku.platform.ui.DKPaycenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/DK.Theme.NoBackGround"
            chameleon:replace="android:screenOrientation=%orientation%">
        </activity>

        <activity
            android:name="com.mokredit.payment.MktPayment"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            chameleon:replace="android:screenOrientation=%orientation%">
        </activity>

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            chameleon:replace="android:screenOrientation=%orientation%">
            <intent-filter>
                <action android:name="android.intent.action.Run" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.unionpay.uppay.PayActivityEx"
            android:configChanges="keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            chameleon:replace="android:screenOrientation=%orientation%">
            <intent-filter>
                <action android:name="android.intent.action.Run" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="uppay" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.baidu.android.pay.ui.WelcomeActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivityWelcome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.android.pay.ui.PayResultActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.baidu.android.pay.ui.PwdCheckActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.baidu.android.pay.ui.PwdSetActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.baidu.android.pay.ui.PwdConfirmActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.baidu.android.pay.ui.PwdPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.baidu.android.pay.ui.PwdPaySmsActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivitTranslucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.android.pay.ui.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.baidu.android.pay.ui.BindFirstActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/EbpayThemeActivit" />

        <activity
            android:name="com.baidu.android.pay.ui.BindSecondActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.android.pay.ui.BindSecondCreditAcitvity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.android.pay.ui.BindSecondCredit2Activity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.android.pay.ui.BindThirdActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.baidu.android.pay.ui.SelectBindCardActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.baidu.android.pay.ui.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/EbpayThemeActivit"
            android:windowSoftInputMode="stateHidden" />
        <service android:name="com.UCMobile.PayPlugin.PayPluginService" >
            <intent-filter>
                <action android:name="android.webkit.PLUGIN" />
            </intent-filter>

            <meta-data
                android:name="type"
                android:value="native" />
        </service>

        <service android:name="com.duoku.platform.service.DKSuspensionService" />

        <!-- push service client -->
        <!-- myself receiver -->
        <receiver android:name="com.duoku.platform.push.MyReceiver" >
            <intent-filter>
                <action android:name="com.duoku" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.duoku.platform.push.PushMessageReceiver" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push service -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" />
    </application>
</manifest>
