<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testwrapper"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0"
    tools:replace="activity">
    <application
        android:name="prj.chameleon.channelapi.ChameleonApplication">



    </application>

</manifest>
