<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:chameleon="http://schemas.ucloud.cn/chameleon"
    package="com.example.testwrapper"
    android:versionCode="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加 360SDK 必需要的权限。 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="prj.chameleon.channelapi.ChameleonApplication"
        tools:replace="android:label">

        <activity
            android:name="com.example.testwrapper.MainActivity"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name="prj.chameleon.channelapi.SplashScreenActivity"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data android:name="prj.chameleon.intent.main"
                android:value="com.example.testwrapper.MainActivity"></meta-data>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
