<div class="container-fluid">
<div class="modal-header">
    <h3>添加一个SDK配置</h3>
</div>
<form name="form" class="form-horizontal" ng-submit="addSDK()">
<div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="appkey">描述</label>
            <div class="controls">
                <input id="appkey" type="text" style="width:40%" ng-model="info.desc" required/>
            </div>
        </div>
    <label>选择一个SDK</label>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-disabled="form.$invalid || selected.length == 0">添加</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
</form>
</div>
