<div class="container-fluid">
        <div cg-busy="{promise:newProjectPromise, message:'创建工程中', templateUrl:'bower_components/angular-busy/angular-busy.html'}"></div>
	<div class="row-fluid">
	    <div class="col-md-12">
	        <form name="newprj" class="form-horizontal" ng-submit="bind()">
		    <div class="control-group">
		        <label class="control-label" for="gamePath"name="gamePath">游戏工程路径</label>
			<div class="controls" >

                            <input name="prjpath" type="text" ng-disabled="true" style="width:80%;" ng-model="gamePath" />

			</div>
		    </div>
                    <div class="col-md-12">
                        <div class="well-lg">
                        <div ng-show="gamePath">
                            <div class="row" >
                                <div class="row">
                                    <div class="col-md-2">游戏名称</div>
                                    <div class="col-md-6">{{project.appname}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">创建版本</div>
                                    <div class="col-md-6">{{project.version}}</div>
                                </div>
                            </div>
                        </div>
                            <div class="alert alert-danger" role="alert" ng-show="msg.length>0">
                                读取工程失败{{msg}};
                            </div>
                        </div>
                    </div>
		    <div>
		        <button class="btn-large btn-success has-spinner" type="submit" ng-disabled="!gamePath">
                            <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                        创建</button>
		    </div>
		</form>
	    </div>
        </div>
    </div>
</div>
