<div id="cham_icon_parent">
    <div id="cham_icon_medium">
        <canvas id="cham_icon_medium" width="48" height="48"></canvas>
    </div>
    <div id="cham_icon_high">
        <canvas id="cham_icon_high" width="72" height="72"></canvas>
    </div>
    <div id="cham_icon_xhigh">
        <canvas id="cham_icon_xhigh" width="96" height="96"></canvas>
    </div>
    <div id="cham_icon_xxhigh">
        <canvas id="cham_icon_xxhigh" width="144" height="144"></canvas>
    </div>
    <div id="cham_icon_xxxhigh">
        <canvas id="cham_icon_xxxhigh" width="192" height="192"></canvas>
    </div>
</div>
