<div class="container-fluid">
    <div class="modal-header">
        <strong>已有SDK列表</strong>
    </div>
    <div class="row">
        <div class="col-md-12 dis-bottom-top ">
            <div class="">
                <label class="col-md-5">用户SDK</label>
                <div class="col-md-7 text-right">
                    <span>{{channel.sdk.desc}}</span>
                </div>

            </div>


        </div>

        <div class="col-md-12">
            <button class="btn" ng-click="selectChannelSDK()">配置</button>
        </div>
        <!--<div class="col-md-12">-->
            <!--<div ng-repeat="i in allsdks">{{i._desc}}</div>-->
        <!--</div>-->
    </div>


</div>

