
<div class="row-fluid">
    <h4>{{selectedsdk.name}}</h4>
</div>
<div ng-if="needShow">
    <div class="row-fluid">
        <form name="globalsetting" class="form-horizontal" ng-submit="updateCurrentCfg()">

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="appname" class="col-sm-2 control-label">游戏名</label>
                        <div class="col-sm-10">
                            <input id="appname" name="appname" type="text" ng-model="selectedsdk.cfg.appname" required class="form-control" />
                            <p ng-show="globalsetting.appname.$invalid && !globalsetting.appname.$pristine" class="help-block ">游戏名称不能为空</p>                    </div>
                    </div>
                </div>
                <div class="col-md-6">



                    <div class="form-group">
                        <label class="control-label col-sm-2" for="orientation">方向</label>
                        <div class="btn-group col-sm-10">
                            <label class="btn btn-primary" ng-model="selectedsdk.cfg.landscape" btn-radio="true">LANDSCAPE</label>
                            <label class="btn btn-primary" ng-model="selectedsdk.cfg.landscape" btn-radio="false">PORTRAIT</label>
                        </div>
                    </div>
                </div>
            </div>




        </form>
    </div>
    <div class="viewarea">
        <dl class="dl-horizontal">
            <dt>keystroke文件:</dt>
            <dd>{{selectedsdk.signcfg.keystroke}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>key password:</dt>
            <dd>{{selectedsdk.signcfg.keypass}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>store password:</dt>
            <dd>{{selectedsdk.signcfg.storepass}}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>alias:</dt>
            <dd>{{selectedsdk.signcfg.alias}}</dd>
        </dl>

    </div>
</div>

