<div>

        <nav class="navbar navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active" ng-if="!globalCache.projectId"><a href='' ng-click="loadHome()">工程列表</a></li>
                <li ng-if="globalCache.projectId" ng-class="{active:false}"><a  ng-click="loadHome()">工程列表</a></li>
                <li ng-if="globalCache.projectId" ng-class="{active:show.header == 'loadPlayManage'}"><a ng-click="loadPlayManage('loadPlayManage');">游戏管理</a></li>
                <!--<li ng-if="globalCache.projectId" ng-class="{active:show.header == 'loadSdk'}"><a ng-click="loadSdk('loadSdk');">SDK 配置</a></li>-->
                <li ng-if="globalCache.projectId" ng-class="{active:show.header == 'loadMethod'}"><a ng-click="loadMethod('loadMethod');">渠道配置</a></li>
            </ul>
        </nav>


</div>
