<div class="container-fluid">
		<div class="span12">
			<form name="newprj" class="form-horizontal" >
				<div class="row row-plus">
					<label class="control-label" for="gameName">游戏名称</label>
					<input id="gameName" name="appName" ng-model="newProject.name" type="text" type="width:50%" />
					<button class="btn-large btn-success has-spinner" type="submit" ng-click="create()" >
					<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
					创建</button>
					<button class="btn-large btn-success has-spinner" ng-click="cancel()">
						<span class="spinner"><i class="icon-spin icon-refresh"></i></span>
						取消</button>
				</div>
			</form>
		</div>
	</div>
</div>
