<div>
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist" id="mainTab">
                <li role="presentation" class="active"><a href="#projectManager" >游戏管理</a></li>
                <li role="presentation"><a href="#channelManager" >渠道管理</a></li>
                <li role="presentation"><a href="#SDKManager" >SDK管理</a></li>
                <li role="presentation"><a href="#SDKConfig" >SDK配置</a></li>
                <li role="presentation"><a href="#iconManager" >icon管理</a></li>
                <li role="presentation"><a href="#APKPicker" >APK母包管理</a></li>
                <li role="presentation"><a href="#pack" >打包</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="margin-top: 20px;">
                <div class="tab-pane fade in active" id="projectManager" role="tabpanel">
                    <form>
                    <div class="panel panel-default">
                        <div class="panel-heading">基本配置</div>
                        <div class="panel-body">
                            <div class="row row-plus" >
                                <div class="col-md-3">
                                    <label>游戏名称</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.name" />
                                </div>
                                <label class="control-label col-md-3">方向</label>
                                <div class="btn-group col-md-3">
                                    <label class="btn btn-primary" ng-model="project.landscape" btn-radio="true">LANDSCAPE</label>
                                    <label class="btn btn-primary" ng-model="project.landscape" btn-radio="false">PORTRAIT</label>
                                </div>
                            </div>
                            <div class="row row-plus" >
                                <div class="col-md-3">
                                    <label>选择icon</label>
                                </div>
                                <div class="col-md-3">
                                    <label class="shortText">{{project.config.icon}}</label>
                                    <input type="file" accept="image/png" fileread="project.config.icon" name="projectIcon" class="custom-file-input"/>
                                </div>
                                <div class="col-md-3">
                                    <label>游戏在server中的英文代号</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.config.code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">签名配置</div>
                        <div class="panel-body">
                            <div class="row row-plus">
                                <div class="col-md-3">
                                    <label>Keystore文件</label>
                                </div>
                                <div class="col-md-3">
                                    <label class="shortText">{{project.signConfig.keyStoreFile}}</label><input type="file" accept="keystore/*" fileread="project.signConfig.keyStoreFile" name="project" class="custom-file-input"/>
                                </div>
                                <div class="col-md-3">
                                    <label>Alias</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.signConfig.alias" />
                                </div>
                            </div>
                            <div class="row row-plus">
                            <div class="col-md-3">
                                <label>Keystore密码</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="project.signConfig.keyStoreSecret" />
                            </div>
                            <div class="col-md-3">
                                <label>Alias密码</label>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="project.signConfig.aliasSecret" />
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">回调配置</div>
                        <div class="panel-body">
                            <div class="row row-plus">
                                <div class="col-md-3">
                                    <label>预发布渠道回调地址</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.config.testChannelCallbackUrl" />
                                </div>
                                <div class="col-md-3">
                                    <label>正式渠道回调地址</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.config.ChannelCallbackUrl" />
                                </div>
                            </div>
                            <div class="row row-plus">
                                <div class="col-md-3">
                                    <label> 预发布支付回调地址</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.config.testPayCallbackUrl" />
                                </div>
                                <div class="col-md-3">
                                    <label> 正式支付回调地址</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="project.config.payCallbackUrl" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn-large btn-success has-spinner" ng-click="saveProjectConfig()" ng-disabled="isProjectUnchanged">保存</button>
                        <button class="btn-large btn-success has-spinner" ng-click="outputConfig()">导出游戏配置</button>
                    </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="channelManager" role="tabpanel" >
                    <div class="row">
                        <div class="col-md-8">
                            <div class="gridStyle" ng-grid="gridOptions2"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions1"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="SDKManager" role="tabpanel" >
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions5"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions3"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions4"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="SDKConfig" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions6"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions7"></div>
                        </div>
                        <div class="col-md-4">
                            <form name="SDKConfigForm">
                            <div >
                                <alert ng-repeat="cherr in channelValidator.errors" type="danger">{{cherr.msg}}</alert>
                            </div>
                            <div class="panel panel-default" ng-hide="!selectedChannel">
                                <div class="panel-heading">渠道配置</div>
                                <div class="panel-body">
                                    <div>
                                        <label>渠道包名</label>
                                        <input
                                            type="text"
                                            ng-model="selectedChannel.config.packageName"
                                            ng-model-options="{updateOn: 'blur'}"
                                            packagename/>
                                    </div>
<!--                                    <div ng-hide="!hasSplash">
                                        <label>Splash</label><label>{{selectedChannel.config.splashPath}}</label><input type="button" ng-click="selectSplashScreen()" value="选择"/>
                                    </div>-->
                                    <div>
                                        <input type="checkbox"
                                               ng-model="selectedChannel.config.isGlobalConfig"
                                               id="globalSignConfig"
                                               checked="true"/>
                                        <label>使用全局配置</label>
                                    </div>
                                    <div ng-hide="!selectedChannel || selectedChannel.config.isGlobalConfig">
                                    <div>
                                        <label>Keystore文件</label><label class="shortText">{{selectedChannel.signConfig.keyStoreFile}}</label>
                                    </div>
                                    <div>
                                        <input type="file" accept="keystore/*" fileread="selectedChannel.signConfig.keyStoreFile" name="channel" class="custom-file-input"/>
                                    </div>
                                    <div>
                                        <label>Keystore密码</label><input type="text" ng-model="selectedChannel.signConfig.keyStoreSecret"/>
                                    </div>
                                    <div>
                                        <label>Alias</label><input type="text" ng-model="selectedChannel.signConfig.alias"/>
                                    </div>
                                    <div>
                                        <label>Alias密码</label><input type="text" ng-model="selectedChannel.signConfig.aliasSecret"/>
                                    </div>
                                    </div>
                                </div>
                                <div class="panel-heading">SDK配置</div>
                                <div class="panel-body" dynamic-html="SDKConfigHtml" id="SDKConfigView" style="max-height: 280px;overflow: auto;"></div>
                            </div>
                            <div class="control-group" style="margin: 5px;">
                                <div class="controls">
                                    <button type="submit" class="btn" ng-disabled="!SDKConfigForm.$dirty" ng-click="setSDKConfig()" >保存</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="iconManager" role="tabpanel">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gridStyle" ng-grid="gridOptions8"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="row" ng-hide="!hasIcon()">
                                <label>角标位置</label>
                                <div class="btn-group" >
                                    <label class="btn btn-primary" ng-model="selectedChannel.config.icon.position" btn-radio="1" ng-hide="!iconPosition.leftUp" >左上</label>
                                    <label class="btn btn-primary" ng-model="selectedChannel.config.icon.position" btn-radio="2" ng-hide="!iconPosition.leftDown" >左下</label>
                                    <label class="btn btn-primary" ng-model="selectedChannel.config.icon.position" btn-radio="3" ng-hide="!iconPosition.rightUp" >右上</label>
                                    <label class="btn btn-primary" ng-model="selectedChannel.config.icon.position" btn-radio="4" ng-hide="!iconPosition.rightDown" >右下</label>
                                </div>
                            </div>
                            <!--<div class="row">
                                <label>图片选择</label>
                                <label class="shortText">{{selectedChannel.config.icon.path}}</label>
                            </div>
                            <div class="row">
                                <input type="file" fileread="selectedChannel.config.icon.path" name="icon" class="custom-file-input"/>
                            </div>-->
                            <div class="row" ng-hide="!hasIcon()">
                                <canvas width="96", height="96" drawing-icon id="drawingIcon"></canvas>
                            </div>
                            <div class="row" ng-hide="hasIcon()">
                                <image width="96", height="96" ng-src={{projectIcon}} id="projectIcon"></image>
                            </div>
                            <!--<div class="row" ng-hide="!hasIcon()">
                                <label>应用到全部</label>
                                <input type="checkbox" ng-model="applyPositionToAll">
                            </div>-->
                            <div>
                                <button class="btn-large btn-success has-spinner" ng-click="saveIcon()">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="APKPicker" role="tabpanel">
                    <div class="row">
                        <label>选择APK母包</label>
                    </div>
                    <div class="row">
                        <label>添加新母包</label><input type="file" accept="apk/*" fileread="apkFilePath" name="apk" class="custom-file-input"/>
                        <label class="shortText">{{apkFilePath}}</label>
                    </div>
                    <div class="row">
                        <label style="margin-left: 10px; color: red;">{{installAPKMessage}}</label>
                    </div>
                    <div class="row">
                        <div class="gridStyle" ng-grid="APKVersionTable" style="height: 300px; overflow-y: auto;"></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pack" role="tabpanel">
                    <div class="gridStyle" ng-grid="gridOptions9" style="height: 500px; overflow-y: auto"></div>
                    <div class="row">
                        <input class="btn-large btn-success has-spinner" type="button" ng-click="pack()" ng-disabled="isPackDisabled" value="打包" />
                        <input class="btn-large btn-success has-spinner" type="button" ng-click="openOutputFolder()" value="打开输出文件夹" />
                        <input class="btn-large btn-success has-spinner" type="button" ng-click="dumpServerConfig()" value="生成Server配置文件" />
                        <input class="btn-large btn-success has-spinner" type="button" ng-click="pushServerConfig()" value="推送服务器配置" />
                    </div>
                </div>
            </div>

            <script>
                $('#mainTab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });
            </script>

        </div>
</div>
