<div class="projectListView">
    <h2>Chameleon项目</h2>
    <div class="row">
        <div class="gridStyle" ng-grid="projectTable"></div>
    </div>
    <div class="row">
        <button class="btn btn-sm" ng-click="openProject()">打开工程</button>
        <button class="btn btn-sm" ng-click="removeProject()">删除工程</button>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" type="button" ng-click="newProject()">新建Chameleon工程</button>
        <button class="btn btn-primary" type="button" ng-click="bindProject()">绑定Chameleon代码</button>
    </div>
</div>
