<div class="projectListView">
    <h5>游戏列表</h5>
    <div class="row">
        <div class="gridStyle" ng-grid="projectTable"></div>
    </div>
    <div class="row">
        <button class="btn btn-sm" ng-click="openProject()">打开游戏</button>
        <button class="btn btn-sm" ng-click="removeProject()">删除游戏</button>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" type="button" ng-click="addProject()">添加游戏</button>
        <button class="btn btn-primary" type="button" ng-click="loadConfig()">导入游戏</button>
    </div>
</div>
