<div class="container-fluid">
    <section id="brief">
        <div class="row">
            <div class="page-header row">
                <div class="col-md-12">
                    <h3 pull-left>{{project.obj.globalcfg.globalcfg.appname}}</h3>
                </div>
            </div>
        </div>
        <ol class="breadcrumb">
            <li><a href="javascript:;">用户</a></li>
            <li class="active">支付</li>
            <li class="active">分享</li>
        </ol>

        <div class="row">
            <div class="col-md-6">
                <div style="display: _none" id="sdktable" class="gridStyle" ng-grid="installedSDKTable"></div>
                <div>
                    <button class="btn btn-small" ng-click="addSDK()">添加</button>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class = "pre-scrollable-channelinfo" ng-controller="ChannelCfgController" >
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>

        </div>








    </section>
</div>

