<div ng-controller="canctrl">
    <div class="row-fluid" style="margin-left: 10px;">
        <h4>{{selectedsdk.name}}</h4>
    </div>
    <div class="row-fluid">
        <form novalidate name="channelCfgForm" class="form-horizontal" ng-submit="updateCurrentCfg()">
            <div dynamic-html="sdkConfigHtml" style="margin-left: 10px;"></div>
        </form>
    </div>
</div>