<div class="container-fluid">
<div class="modal-header">
    <h3>设置签名信息</h3>
</div>
<div class="modal-body">
    <div class="control-group">
        <label class="control-label" for="keystroke">keystroke文件</label>
	<div class="controls">
            <pre id="keystroke" ng-click="selectFile()" style="'overflow':'hiden'">{{signcfgModel.keystroke}}</pre>
            <input name="keystroke" type="file" onchange="angular.element(this).scope().setFiles(this)" title="选择keystroke文件"/>
	</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="keypass">key password</label>
	<div class="controls">
            <input name="keypass" type="text" ng-model="signcfgModel.keypass" required />
	</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="storepass">store password</label>
	<div class="controls">
            <input name="keypass" type="text" ng-model="signcfgModel.storepass" webkitfile required />
	</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="storepass">alias</label>
	<div class="controls">
            <input name="keypass" type="text" ng-model="signcfgModel.alias" webkitfile required />
	</div>
    </div>
<script>
$(document).ready(function(){
$('input[type=file]').bootstrapFileInput();
$('.file-inputs').bootstrapFileInput();
console.log('done')
});
</script>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="commit()">添加</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>
</div>
